{% extends "AppBundle::layout.html.twig" %}
{% block body %}
<div class="r_cnx_colonneG full">							
	<h2>Les contacts de l'Assurance maladie </h2>
		<div class="block">
			<table width=100%><tr><td>
			<p><b>Pôle droit de base</b></p>
			<p>Votre interlocuteur : A définir</p>
			<p>Téléphone : A définir</p>
			<p>Email : <a href='mailto:dupont@assurance-maladie.fr'>A définir</a></p>
			<br>
			<p><b>pôle droit complémentaires</b></p>
			<p>Votre interlocuteur : A définir</p>
			<p>Téléphone : A définir</p>
			<p>Email : <a href='mailto:dupont@assurance-maladie.fr'>A définir</a></p>
			<br>
			<p><b>AME </b></p>
			<p>Votre interlocuteur : A définir</p>
			<p>Téléphone : A définir</p>
			<p>Email : <a href='mailto:dupont@assurance-maladie.fr'>A définir</a></p>
			</td></tr></table>
		</div>
		</div>
{% endblock %}