{% extends "AppBundle::layout.html.twig" %}
{% block body %}
<div class="r_cnx_colonneG full">							
	<h2> BIENVENUE DANS VOTRE ESPACE PERSONNEL</h2>
		<div class="block">
			<p>Bienvenue dans "Votre espace partenaires"</p>

			<p>Afin de favoriser l’accès aux droits de nos publics, des partenariats sont mis en place entre différentes structures de la Seine-Saint-Denis et la CPAM.</p>

			<p>La CPAM s’engage à instruire dans un délai maximum de 30 jours les demandes constituées par les partenaires.</p>

			<p>Pour respecter ce délai et délivrer rapidement les droits, le partenaire s’engage à vérifier la complétude des demandes avant transmission à la CPAM.</p>

		</div>
		</div>
{% endblock %}
