{% extends "AppBundle::layout.html.twig" %}
{% block body %}
<div class="r_cnx_colonneG full">							
	<h2>Abandon d'offre de service</h2>
		<div class="block">
		
			<h3>Vos offres disponibles</h3>
			<p><table>
					<tr>
					<td><input id="checkBox" type="checkbox">Offre 1</td>
					<td><input id="checkBox" type="checkbox">Offre 2</td>
					<td><input id="checkBox" type="checkbox">Offre 3</td></tr>
				<tr>
					<td colspan=3 ><a href=''>Supprimer</a></td>
				</tr>
				</table>
			</p><br>
		</div>
		</div>
{% endblock %}