{% extends "AppBundle::layout.html.twig" %}
{% block body %}
<div class="r_cnx_colonneG full">							
	<h2> Gestion des commandes de supports</h2>
		<div class="block">
			<p>
			<table class='tabpanier'>
			<tr><td></td><td>Date de la commande</td><td>Commande</td></tr>
			<tr>
				<td>Partenaire 1</td><td>01/07/2018</td><td><a href={{path('COMMGestionCommande')}}>20180701partenaire1</a></td>
			</tr>
			<tr>
				<td>Partenaire 2</td><td>26/06/2018</td><td><a href={{path('COMMGestionCommande')}}>20180626partenaire2</a></td>
			</tr>
			</table>
			</p><br>
		</div>
		</div>
{% endblock %}