{% extends "AppBundle::layout.html.twig" %}
{% block body %}
<div class="r_cnx_colonneG full">							
	<h2>L'information aux partenaires</h2>
		<div class="block">
			<p>
				Nunc vero inanes flatus quorundam vile esse quicquid extra urbis pomerium nascitur aestimant praeter orbos et caelibes, nec   				credi potest qua obsequiorum diversitate coluntur homines sine liberis Romae.
			</p><br>
			<p>
				Quis enim aut eum diligat quem metuat, aut eum a quo se metui putet? Coluntur tamen simulatione dumtaxat ad tempus. Quod si 	 				forte, ut fit plerumque, ceciderunt, tum intellegitur quam fuerint inopes amicorum. Quod Tarquinium dixisse ferunt, tum  	   				exsulantem se intellexisse quos fidos amicos habuisset, quos infidos, cum iam neutris gratiam referre posset.
			</p><br>
			<p class='green'>
			<table width=100%>
				<tr>
				<td>&#9658; <a href=''>Diaporama sur les dispositifs d'accès aux droits</a></td>
				<td>&#9658; <a href=''>Newsletters</a></td>
				</tr>
				<tr>
				<td>&#9658; <a href=''>Les résultats des questionnaires de satisfaction</a></td>
				<td>&#9658; <a href={{ path('actualites') }}>L'historique des actualités</a></td>
				</tr>
				<td>&#9658; <a href=''>Liste des PJ nécessaires à la constitution des dossiers</a></td>
				<tr>
				</tr>
			</table>
			
		</p>
		</div>
		</div>
{% endblock %}
