<!DOCTYPE html>
<html>
    <head>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    	{% block head %}
            {%- include '@App/Templates/head.html.twig' -%}
        {% endblock %}
    </head>
    <body>
	{%- include '@App/Templates/entete.html.twig' -%}
   
    <div class="blockContainer">
    <div class="blockMenu">
        {% block menu %}
            {%- include '@App/Templates/menuGestionnaire.html.twig' -%}
        {% endblock %}
    </div>
   

    <div class="content">
        {% block body %}{% endblock %}
        {% block connect %} {% endblock %}
    </div>
    </div>
    <div class="loader">
        {% block loader %}{% endblock %}
    </div>
{% block footer %}
	{%- include '@App/Templates/footer.html.twig' -%}
{% endblock %}
    </body>
</html>
