{% extends "AppBundle::layout.html.twig" %}
{% block body %}
<div class="r_cnx_colonneG full">							
	<h2>Les situations particulières </h2>
		<div class="block">
			<p>
				Nunc vero inanes flatus quorundam vile esse quicquid extra urbis pomerium nascitur aestimant praeter orbos et caelibes, nec   				credi potest qua obsequiorum diversitate coluntur homines sine liberis Romae.
			</p><br>
			<p>
				Dum apud Persas, ut supra narravimus, perfidia regis motus agitat insperatos, et in eois tractibus bella rediviva consurgunt, 				anno sexto decimo et eo diutius post Nepotiani exitium, saeviens per urbem aeternam urebat cuncta Bellona, ex primordiis 			 				minimis ad clades excita luctuosas, quas obliterasset utinam iuge silentium! ne forte paria quandoque temptentur, plus 	 	  				exemplis generalibus nocitura quam delictis.
			</p><br>
			<p>
				Quis enim aut eum diligat quem metuat, aut eum a quo se metui putet? Coluntur tamen simulatione dumtaxat ad tempus. Quod si 	 				forte, ut fit plerumque, ceciderunt, tum intellegitur quam fuerint inopes amicorum. Quod Tarquinium dixisse ferunt, tum  	   				exsulantem se intellexisse quos fidos amicos habuisset, quos infidos, cum iam neutris gratiam referre posset.
			</p><br>
		<p class='green'>
			<table width=100%><tr><td>&#9658; <a href=''>Les personnes détenues</a></td>
			<td>&#9658; <a href=''>Les demandeurs d'emploi</td><td>&#9658; <a href=''>Les étudiants</a></td>
			</tr>
			<tr><td>&#9658; <a href=''>Les bénéficiaires du RSA</a></td><td>&#9658; <a href=''>Les ressortissants européens</a></td><td>&#9658; <a href=''>Les demandeurs d'asile</a></td></tr></table>
			
		</p>
		<br><br>
		<p class='green'>
		Si vous souhaitez en savoir plus sur les informations à destination des partenaires, consultez <a href=''>les informations à destination des partenaires</a>
		</p>
		</div>
		</div>
{% endblock %}
