{% extends "AppBundle::layout.html.twig" %}

{% block body %}

    <div class="col-md-10 mt40">
	
	<p> Prise en compte de la demande d'accès au site partenaire.</p>
	<br />
	<p>Après vérification, un mail avec le code d'accès vous sera transmis dans un délai maximum de 72h00.</p>
    </div>

{% endblock %}
