/**
* Contient les css utilisés pour la structure générale (layout, grille, blocs)
**/

/* Style permettant d'afficher le footer en bas de page */


html, body {height: 93%; padding: 0; margin: 0; }
body { display: table; width: 100%; height: 100%; }

.wlp-bighorn-header {
	background-color:white;
	display: table-row;
	height:1px;
}

.wlp-bighorn-footer {
    bottom: 0;
    width: 100%;
    float: right;
    right: 0;
	position: relative; /* absolute */

}

.blockContainer{
    width: 100%;
}

.content {
	padding: 20px;
	margin-bottom: 20px;
	min-height: 100vh;
    float: right;
    width: 83%;

}

.r_cnx_colonneG{
    float: left;
    width: 60%;
    margin-right: 1%;
	margin-top: 3%;
}

.r_cnx_colonneD{
    float: left;
    width: 33%;;
    margin-right: 5%;
	margin-top: 3%;
}

body
{
    margin: 0px auto 0px;
	width: 100%;
	height: 100%;
	line-height: 1.42857;
}

/*********************** Début récup liens.css */

/**
* Contient les css utilisés pour le comportement général des liens
**/

a {
  text-decoration: none;
  cursor: pointer;

}

a:hover {
  	text-decoration: none;
}

.blue a {
  text-decoration: none !important;
  cursor: pointer;
  color:#1B46EC!important;
}

.blue a:hover {
  	 color:red !important;
}

.green a, .blockInformation a {
  text-decoration: none !important;
  cursor: pointer;
  color:#539B32!important;
}

/* Pas de bordure autour des images dans les liens */

a img {
  border: none;
}

.r_lien_image {
	border-bottom: none;
}

.r_lien_image:hover {
	border-bottom: none;
}

/* Chevron utilise pour les liens */

.r_chevron {
	font-size: 1.4em; /*medium;*/
	vertical-align: middle;
	margin-left: 0.3em;
	line-height: 0;
	/*text-decoration: none;*/
}

/* fin récup liens.css */


*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* Blocs */
.block {
	display: block;
	margin-bottom: 1.5em;
	height:auto;
}

.blockAscenseur {
	display: block;
	margin-bottom: 1.5em;
	overflow:auto;
	height:400px;
}

.r_cnx_cadre_gris, .block {
	padding: 10px;
	background-color: #f5f5f5;
	margin-bottom: 20px;
}

.wlp-bighorn-layout-border-west,
.wlp-bighorn-layout-border-east
{
    width: 33%;
}
.wlp-bighorn-layout-border-center
{
    width: 34%;
}
.wlp-bighorn-layout-grid
{
    table-layout: fixed;

}

.wlp-bighorn-header
{
	/*height: 75px;*/
}

.tetiere {
	height:70px;
	text-align: center;
	background-color: white;
}

.titre {

	font-size: 1.3em;
	line-height: 60px;
    font-weight: bold;
}

.bandeau p{
    line-height: 60px;
    color: rgb(34, 107, 155);
    margin: 0;
    float: right;
    padding-right: 10px;
}

.tetiere .bandeau {
    height: 70px;
    /*background-color: #F5F5F5;*/
    /**background-image: -webkit-linear-gradient(#606060, #767676, #8e8e8e, #a5a5a5, #bebebe);
    background-image: -o-linear-gradient(#606060, #767676, #8e8e8e, #a5a5a5, #bebebe);
    background-image: linear-gradient(#606060, #767676, #8e8e8e, #a5a5a5, #bebebe);**/
     background-image: -webkit-linear-gradient(right, #226b9b, #3b79a5, #5088af, #6496ba, #78a5c4);
     background-image: -o-linear-gradient(right, #226b9b, #3b79a5, #5088af, #6496ba, #78a5c4);
     background-image: linear-gradient(to left, #226b9b, #3b79a5, #5088af, #6496ba, #78a5c4);

}

.bandeau a, .bandeau img{
	color: white;
	border: 0;
    float: left;
    margin-left: 70px;
    
}



.tetiere .liens {
	float: right;
	color: white;
	display: inline-block;
	cursor: pointer;
    width: 30%;
}

.tetiere .liens a {
	color: rgb(34, 107, 155);
	text-decoration: none;
	display: inline-block;
    border: none !important;
}

.hand {
	display: none;
	position: absolute;
	width: 9%;
	padding: 10px;
	border-radius: 0 0 10px 10px;
	left:45%;
    
 }

.wlp-bighorn-footer
{
    clear: both;
}

.wlp-bighorn-footer #Footer ul {
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    height: 50px;

    /*background-image: -webkit-linear-gradient(right, #226b9b, #3b79a5, #5088af, #6496ba, #78a5c4);
 	background-image: -o-linear-gradient(right, #226b9b, #3b79a5, #5088af, #6496ba, #78a5c4);
 	background-image: linear-gradient(to left, #226b9b, #3b79a5, #5088af, #6496ba, #78a5c4);*/

 	background-color: #F18B72;

}

.wlp-bighorn-footer #Footer li {
    display: table-cell;
    width: 19.3%;
    margin-right: 0.5%;
    text-align: center;
    /*position: relative;*/

}

.wlp-bighorn-footer #Footer
{
    background-color: white;

}

.wlp-bighorn-footer #Footer li a
{
	color: white;

}

.wlp-bighorn-footer #Footer li:first-child {
	background-image: none;
}

.wlp-bighorn-footer #Footer li a {
    line-height: 50px;
}

/* image rollover styles */

.wlp-bighorn-image-rollover
{
    display: none;
}
.wlp-bighorn-image-nonrollover
{
    display: inline;
}

/*
    This file contains window-related styles for the "bighorn" skin.  This includes titlebars, titlebar button
    rollovers and window content.
    
    Note that this styling includes window content overflow handling.  See below for specific notes.
*/

/* styles for titlebars */

.wlp-bighorn-page-unconnect .wlp-bighorn-titlebar{
	width: auto;
}

.wlp-bighorn-titlebar
{
    overflow: hidden;
    border-bottom: 1px solid #bfbfbf;
	padding-bottom: 0.5em;
	text-transform: uppercase;
	margin-bottom: 10px;
    margin-top: 20px;
}

.wlp-bighorn-titlebar div
{
    /* white-space: nowrap; */
    /* padding: 2px; */
}

.wlp-bighorn-titlebar img
{
    border: 0;
}

.wlp-bighorn-titlebar-window-icon,
.wlp-bighorn-titlebar-title-panel
{
    font-size: 1.14em;
    font-weight: normal;
}

.wlp-bighorn-titlebar-button-panel
{
    float: right;
}

.wlp-bighorn-titlebar-button-panel a
{
    vertical-align: middle;
}

/* styles for image rollovers (titlebar buttons) */

.wlp-bighorn-titlebar-button-panel a:hover > img.wlp-bighorn-image-rollover
{
    display: inline;
}

.wlp-bighorn-titlebar-button-panel a:hover > img.wlp-bighorn-image-nonrollover
{
    display: none;
}

/* styles for windows */

.wlp-bighorn-layout-cell .blockContainer
{
    border-style: solid;
    border-width: 1px;
    margin: 8px;
    height: 100%;
}

#as_vos_demandes_page .wlp-bighorn-layout {
	float:left;
	margin: 1.1em 0 0 0;
}

#as_vos_demandes_page .wlp-bighorn-layout-cell {
	float:left;	
}

#as_vos_demandes_page .wlp-bighorn-layout-cell:last-child {
	margin-left: 30px;	
}

#as_accueil_page .wlp-bighorn-layout {
	/*width: 700px;*/
	float:none;	
}

#messageperso_1{
	margin-right: 30px;
}

.wlp-bighorn-page
{
    /*padding: 1px;*/
    height: 100%;
    position: relative;
}

/*
    The following style applies to window content that overflows the specified portlet width. If you want to
    change this behavior for ALL of your portlets, set the appropriate value for the overflow style here.
    If you want to change this behavior for a SPECIFIC portlet, add the appropriate overflow style to that
    portlet's Content Presentation Style attribute. See the Portlet Development Guide for more information 
    and examples.
*/

/* styles for async content portlets */

.wlp-bighorn-window-content-only
{
    border: 0;
    margin: 0;
}


/** structure page d'accueil **/

.contenu {
    clear: both;
    margin: 0 -10px;
}

.contenu:after {
    clear: both;
}

.col {
    display: block;
    float: left;
    width: 50%;
    padding: 10px;
    position: relative;
}

.col .centrepage {
	width: inherit;
}

.col:first-child {
	margin-left: 0%;
}

.bloc {
    margin-top: 20px;
}

.bloc .titre {
    background: none repeat scroll 0 0 #636466;
    height: 45px;
    position: relative;
}

.bloc .titre em {
    font-size: 2.35em;
    font-style: normal;
    left: 0;
    position: relative;
    text-align: center;
    top: 5px;
}

.bloc h1 {
    color: white;
    font-size: 1.14em;
    line-height: 45px;
    padding: 0 0 0 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.prefooter {
	margin: 15px -15px -30px -15px ;
}


.colonne_info_droite {
	float: right;
	width: 210px;
	clear: right;
	background: #EEF5F9;
    padding: 10px 0px;
    margin-top: 0.75em;
    margin-bottom: 39px;
}

.cadre_form {
	width: 97%;
	padding: 5px 4px 5px 2px;
	margin: 10px 0px 20px 0px;
}

.cadre_connexion {
	width: 93%;
	border: 1px #DEDFE4 solid;
	padding: 5px 4px 5px 2px;
	margin: 10px 0px 20px 0px;
}

.blocform {
	margin: 5px 0px 5px 0px;
	padding: 0px 0px 5px 0px;
}

.blocform p {
	margin: 5px 0px 5px 0px;
	padding: 0px 15px 0px 10px;
}

.blocform label, .blocform .label {
	font: bold 0.95em Trebuchet MS, Verdana, sans-serif;
	color: #226B9B;
	margin: 0 3px 0 0;
	padding: 0px;
	/*Ergo 2.6.1 : aligner label et champ sur une même ligne*/
	display: block;
    width: 280px;
    float: left;
}


.blocform h2 {
	font: bold 1.2em Trebuchet MS, Verdana, sans-serif;
	color: #25496d;
	margin: 5px 0px 0px 0px;
	padding: 0px;
}

.blocform h4 {
	font: bold 0.7em Trebuchet MS, Verdana, sans-serif;
	color: #226B9B;
	margin: 5px 0px 0px 10px;
	padding: 0px;
}

.blocform ul,.blocform ol {
	margin: 3px 0px 15px 15px;
	padding: 0px;
}

.blocform_libelle {
	background: url(../images/as/fd_filetbleu.gif) repeat-y;
	margin: 0px 0px 0px 1px;
	padding: 0px 10px 0px 10px;
	color: #3F316F;
	font-size: 1em;
}

.blocform_libelle b {
	font-size: 1.2em;
}

.blocform_libelle li {
	font-size: 1.0em;
}

.blocformfond {
	background: #eef5f9; /* fond bleu très clair */
	padding: 5px;
	margin: 10px 1px 1px 1px;
	line-height: 1.5em;
}

.blocformfond p {
	padding: 0px;
	margin: 5px 10px 5px 0px;
}

.blocformfond ul {
	margin-left: 17px;
}

.blocformfond_radio {
	display: inline;
	background: #F4F5E6;
	vertical-align: middle;
	margin: 0px 12px 0px 1px;
}


.blocfond {
	background: #eef5f9; /* fond bleu très clair */
	padding: 0px 0px 0px 10px;
	margin: 10px 10px 0px 0px;
}

.blocfond .droite {
	float: right;
}

#colcentre,
.centrepage {
	width: 700px;
	line-height:1.5em;
	float: left;
}

.centrepage h2 {
	color: #25496d;
	font-size: 1.2em;
	margin: 10px 0px 10px 0px;
	padding: 0px;
}

.centrepage h3 {
	color: #25496d;
	font-size: 1em;
	margin: 0px;
	padding: 0px;
}

.centrepage ul,.centrepage ol {
	margin: 0px 0px 10px 17px;
}

.centrepage li {
	line-height: 1.5em;
}

.formerreur {
	margin: 0px;
	padding: 3px 10px 3px 0px;
	color: red;
	text-align: left;
}

.lien_droit {
	text-align: right;
}

caption {
	text-align: left;
	padding: 10px 0px 5px 0px;
	margin: 0px;
	font-weight: bold;
}

.consigne {
	font-size: 0.8em;
	color: #226B9B;
	white-space: normal;
}

.consigne2 {
	font-size: 0.95em;
	margin: 10px 0px 0px 12px;
}

.centrepage .paragraphe {
	margin: 0 20px 0 0;
	padding: 0;
}

/*Style pour les infos dans un cadre avec fond gris, Label noir, texte noir, titre bleu,*/
.blocformfond,
#as_declarer_naissance_page .blocformfond, #as_declarer_activite_page .blocformfond {	
	background: #EEF5F9; /*#e6e6e6; /*#e6e6e6; /* #D2D2D2; /*#B75190; /* /*#E0F0FF;*/
	padding: 5px;
	padding-bottom : 20px;
	margin: 20px 1px 10px 1px;
	line-height: 1.5em;
	border: solid 0px lightblue;
	clear: both;
}
.blocformfond .consigne{
	padding-right:15px ;
	font-size: 0.8em;
	color: #226B9B;
	white-space: normal;
}
.blocformfond h2{
	color: #226B9B; /*#B75190; */
	font-size: 1.2em;
	margin: 10px 0px;
	padding: 0px;
}
.blocform label, .blocform .label {
	text-align: right;
	}
.blocform .r_label {
	width:170px;
}
	
.blocformfond fieldset{
	background:white;
	border: 1px solid lightblue; /*#B75190; /*#B75190*/
    margin: 10px 20px 5px 20px;
    padding: 10px 25px 0px 25px;
}
.blocformfond fieldset legend{
	color: #226B9B; /*#B75190; /* /* /**/
	font-size : 1.2em;
	padding-left:10px;
	padding-right:10px;
	position : relative;
	display:none;
	}
.bloc_coord{
	 margin: 10px 20px 20px 20px;
	 padding-left : 24px;
	}
/*Pour les blocs d'informations de rappel (recapitulatif, et confirmation)*/
.blocformfond .bloc_infos,
.bloc_infos_perso .bloc_infos{	
	background: #EEF5F9; /*#e6e6e6; /*; /* /*#D2D2D2; /*#B75190; /* /*#E0F0FF;*/
	padding: 0px 25px 5px 25px;
	margin: 10px 20px 5px 20px;
	line-height: 1.5em;
	border: solid 1px #BBDAF6; /*#B75190; /**/
	clear: both;
}

/*Bloc pour avoir un formulaire aligné à gauche, champs prenant toute la place libre*/
.grid {
	 width: 100%; 
	 display: table; 
	 table-layout: auto; 
	 padding-bottom : 10px;
	 }
label.cell { 
	white-space: nowrap;
	display: table-cell; }
span.cell {
	 width: 100%;
	 display: table-cell;
	  }
span.cell input, span.cell select { 
	width: 100%; 
	}

/* CLASSES AFFICHAGE EXCEPTIONS*/

.blocException {
	margin-left: 30px;
}

.traceException {
	word-wrap: break-word;
}

/* FIN CLASSES AFFICHAGE EXCEPTIONS*/

.bloc_confirm{
margin-bottom:10px;
}

/** FENETRES **/

.fond {
	background-color: black;
	position: fixed;
	margin: 0;
	padding: 0;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 90;
}

.fondBleu {
	background-color: #357BB1;
    display: none;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 90;
}

/* --- TABLEAU --- */

.tab-box table { 
	background-color: transparent;
	margin-bottom: 3px;
	line-height: 1.363em;
	border-spacing: 0px;
	border-collapse: separate;	
	table-layout: fixed;
	cellpadding:0;
	cellspacing:0;
	border-bottom : 2px solid #d2d2d2;
	border-top : 0;
	border-left : 0;
	border-right : 0;
}
	
.tab-footer{
	height : 15px;
	background-color: #FFFFFF;
	}

.tab-footer{
	height : 15px;
	background-color: #FFFFFF;
	}
table .premier {
	padding-left: 10px;
	border-left: none;
	}

.pair 	{ 
	background: #FFFFFF;
	min-height: 30px;
	max-height: 30px;
	line-height: 10px;
}	

.vue-detail {
	border-bottom : none;	
}

.vue-detail:hover {
	border-bottom : none;	 
}	

.tab-interpage, .tab-interpagebas{
	background-color:#FFF; 
}
.tab-interpage, .tab-interpagebas #tabinterpage-bastab_PRN_AAT{
	width:auto;
	float:left; 
}
.tab-interpagebas #tabinterpage-bastab_PRN_AAT{
	width:100%;	
}
.td_plusieursLignes, #tabGR_RecapListRdv .cell div {
	line-height: 1.45em;
	white-space : pre-line;
	word-break : keep-all;
	max-height: 100px;
}

#tabGR_RecapListRdv td {
	padding-top:5px;
	padding-bottom:5px;
}

/* --- RESULTAT DE RECHERCHE --- */	

.resultat {
	padding-left: 13px;
	}


/* --- NAVIGATION INTERPAGE --- */

.navigation-interpage .page {
	text-decoration: none;
	min-width: 1em; 
	}	
.navigation-interpage .dernier{
	width: auto;
	margin-left: 5px;
	}
.navigation-interpage li{
	background-color: #ffffff;
	}
.page {
	display: inline-block;
	text-align: center;
	width: auto; height: 15px;
	line-height: 15px;
	margin:  0 3px;		
	}	
.navigation-interpage .precedent,
.navigation-interpage .precedentinactif,
.navigation-interpage .suivantinactif,
.navigation-interpage .suivant { 
	width: 15px; height: 15px;
	display: block;
	border-bottom: none;	
	}		
.navigation-interpage .courant { 
	background: #eef6fb;
	font-weight: bold;
	text-decoration: none;
	}

.invisible{	
	position: absolute !important;
	top: -2000px !important;
	left: -2000px !important;
	display: block !important;
	width: 0 !important;
	height: 0 !important;
	line-height: 0 !important;	
}

/* BULLE */

.bulle {
	background-color: #2d5e84;
	color: white;
	border-radius:0px;
}

.bulle .fenetre-header {
	background-color: #2d5e84;
	color: white;
	border-bottom: 1px solid white;
}

.bulle .fenetre-header .fenetre-button {
	background-image: url("../images/refonte/accueil/icon-close.png");
	background-position: center;
}


.bulle a {
	color: #FFFFFF;
}

.bulle a:hover {
	color: #FFFFFF;
}

/* FIN BULLE */

/* FENETRE MODALE */

.popbg {
	background-color : #357BB1;
	opacity: 0.75;
}

.fenetre {
	border-bottom: none;
	padding: 20px;
	width: 520px;
	font-size: 1em;
}

.modale .fenetre-header {
	background-color: #FFFFFF;
	color: #2270a1;
	font-size: 1.1em;
	cursor: default;
	border-bottom: 1px solid #2270a1;
	padding:0;
}

.modale p {
	padding: 0 0 8px;
}

.modale .fenetre-header .fenetre-button {
	background-image: url("../images/refonte/header/icone_deconnecter.gif");
	background-position: right center;
}

.cnamts-hidden {
	display: none;
}

.tip-text {
	border-color: #0062AD;
}


.list-group-item {
	
	padding: .05rem 1.25rem !important;
}

@font-face {
  font-family: 'mic';
  src: url(../../../../../font/mic32Regular.ttf) format('truetype');
}

* {
	font-family: "mic";
	/*font-family: "Helvetica Neue",Helvetica,Arial,FreeSans,sans-serif;*/

}

.droite {
	text-align: left !important;
}

label {
	color: black;
	font-weight: normal;
}

td {
	vertical-align : middle;
}

form {
	display: block;
}

h4{
	font-size: 1em;
}

.pointer {
	cursor: pointer !important;
}

.dropdown {
}

.dropdown-menu a{
	line-height: 51px !important;
}

.dropdown-menu{
	background-color: #F18B72;
	width: 12%;
	top: -35px !important;
	left: 10px !important;

}

/*********** Nouveau css **********/
.container-fluid{
	padding: 0;
}

.row{
	margin-left: 0px;
	margin-right: 0px;
}

.background-bleu{
	/*background-image: linear-gradient(to left, #226b9b, #3b79a5, #5088af, #6496ba, #78a5c4);*/
	background-color: #F18B72;
	/*background: url("../../../bundles/app/img/bk.png") 60% 60%;
	background-size : 651px 204px;*/
}

.fixBottom{
	bottom: 0;
	padding: 0;
}

.titre{
	color: white;
}

.mt05{
	margin-top: 0.5%;
}

.mt05 a{
	color:white;
}

.mt40{
	margin-top: 40px;
}

.styleMenu{
	background-color: #E0E0E0;
	padding-top: 25px;
	padding-left: 0;
	padding-right: 0;
	text-align: center;
}

.list-group-item{
	display: inline-block;
	background-color: transparent;
	border: none;
	float: right;
}

.list-group{
	line-height: 70px;
	display: inline-block;
	float: right;
}

.list-group-item a{
	color: white;
	line-height: 70px;
}

.styleList{
	color: #226B9B;
	line-height: 45px;
	padding-left: 5px;
	font-weight: bold;
	border-bottom: solid 1px #226B9B;
}

a.titre{
	letter-spacing: 3px;
}

