{% extends "AppBundle::layout.html.twig" %}
{% block body %}
<div class="r_cnx_colonneG full">							
	<h2> BIENVENUE DANS VOTRE ESPACE GESTIONNAIRE</h2>
		<div class="block">
			
		</div>
		</div>
{% endblock %}
